@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">.Net Bootcamp Application</h1>
    <p><a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Başvur !</a></p>
</div>
